
/*Jumbotron*/
.jumbotron {
    background-image: url("images/workplace.jpg");
    background-size: cover;
}

/*Products card*/
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
}

nav {
    background-color: 
}
