﻿
@{
    ViewBag.Title = "cliente";
    ViewBag.nombreSesion = ViewBag.session;
}

<div style="padding-top: 50px;">
    <input type="hidden" id="idcliente" value="@ViewBag.Id" />
    <input type="hidden" id="rutcliente" value="@ViewBag.Rut" />

    <h2>cliente</h2>

    <h3>Datos del Cliente <small class="text-muted" id="nombrecliente"></small>  </h3>

    <table class=" table table-bordered table-condensed table-hover" >
        <thead style="background-color: #51bae8">
        <th>Rut</th>
        <th>Nombre</th>
        <th>Email</th>
        </thead>
        <tbody id="datoscliente"></tbody>
    </table>


    <div style="padding-top: 40px;">
        <h3>Datos del Automovil <small class="text-muted" id="nombreauto"></small> </h3>
        <table class="table table-condensed table-hover table-bordered" >
            <thead style="background-color: #51bae8">
                <th>Patente</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Año</th>
                <th>Fecha Termino</th>
            </thead>
            <tbody id="datosvehiculo"></tbody>
        </table>
    </div>

</div>



@section JavaScript {
    <script src="@Url.Content("~/Scripts/cliente.js")"></script>
}
