﻿@{
    ViewBag.Title = "Quienes Somos";
}
<h2 style="padding-top: 20px;">@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<h2><b>Acerca de Seguros Segurisimos</b></h2>

<p> <b>Seguros Segurisimos</b> nace el 1984 como parte de un programa especial del gobierno para integrar seguros a personas que antes no podian acceder a los mismos por cuestiones economicas, es asi que gracias a los constantes incentivos se logran precios competitivos frente a las empresas extranjeras que estaban llegando al pais en esa epoca.</p>

<h2><b>Respaldo</b></h2>
<p> Actualmente <b>Seguros Segurisimos</b> cuenta con el respaldo de <b>Liberty Mutual Insurance Group</b> para llevar a cabo sus operaciones en todo el pais, lo que proporciona una flota de gruas, personal especializado listo para cualquier emergencia que pueda surgir con tu auto.</p>