﻿@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>

<link href="~/Content/contact.css" rel="stylesheet" />


<body class="bg-light">

    <div class="container">

        <form action="AddContacto" method="post">
            <div class="row">
                <div class="col-md-4 order-md-2 mb-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Seguros</span>
                    </h4>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Seguro Basico</h6>
                                <small class="text-muted">Cobertura basica</small>
                            </div>
                            <span class="text-muted">$8.990</span>
                            <input type="checkbox" name="Interes" value="1" />
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Seguro Medio</h6>
                                <small class="text-muted">Cobertura Media</small>
                            </div>
                            <span class="text-muted">$12.990 </span>
                            <input type="checkbox" name="Interes" value="2" />

                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Seguro Full</h6>
                                <small class="text-muted">Cobertura full. Con auto de reemplazo y revision tecnica.</small>
                            </div>
                            <span class="text-muted">$21.990 </span>
                            <input type="checkbox" name="Interes" value="3" />
                        </li>

                    </ul>


                </div>
                <div class="col-md-8 order-md-1">
                    <h4 class="mb-3">Informacion de Contacto</h4>
                    <form class="needs-validation" novalidate>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">Nombres</label>
                                <input type="text" class="form-control" id="nombres" placeholder="" value="" required>

                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="lastName">Apellidos</label>
                                <input type="text" class="form-control" id="apellidos" placeholder="" value="" required>

                            </div>
                        </div>


                        <div class="mb-3">
                            <label for="email">Email <span class="text-muted">(Opcional)</span></label>
                            <input type="email" class="form-control" id="email" placeholder="tu@ejemplo.com">

                        </div>

                        <div class="mb-3">
                            <label for="address">Direccion</label>
                            <input type="text" class="form-control" id="direccion" placeholder="1234 vicuña mackena" required>

                        </div>

                        <div class="mb-3">
                            <label for="address2">Direccion 2 <span class="text-muted">(Opcional)</span></label>
                            <input type="text" class="form-control" id="direccion2" placeholder="Calle numero">
                        </div>

                        <div class="row" style="padding-top: 10px;">
                            <div class="col-md-4 mb-3">
                                <label for="region">Region</label>
                                <select class="selectpicker custom-select d-block w-100" id="region" required>
                                </select>

                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="state">Comuna</label>
                                <select class="custom-select d-block w-100 selectpicker" id="comuna" required>
                                </select>

                            </div>
                        </div>


                        <hr class="mb-4">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Enviar Datos</button>
                    </form>
                </div>
            </div>
        </form>
    </div>
</body>



@section JavaScript {
    <script src="@Url.Content("~/Scripts/contact.js")"></script>

}



