﻿@{
    ViewBag.Title = "Inicio";
}

<link rel="stylesheet" href="~/Content/index.css">

<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-4">Seguros Segurisimos </h1>
      <p style="color: white;" class="lead">Somos la compañia lider del mercado en seguros de autos.</p>
      <hr class="my-4">
      <p style="color: white;">Ahora con una nueva y renovada pagina web!.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Conoce mas </a>
      </p>
    </div>
    
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <img class="card-img-top " src="~/Content/images/siniestro.jpg" alt="Card image cap" height="200px" width="300px">
                <div class="card-body">
                    <h5 class="card-title">Denuncio de Siniestro</h5>
                    <p class="card-text">Has el denuncio de siniestro de tu auto estes donde estes.</p>
                    <a href="#" class="btn btn-success">Denunciar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <img class="card-img-top " src="~/Content/images/seguimiento.jpg" alt="Card image cap" height="200px" width="300px">
                <div class="card-body">
                    <h5 class="card-title">Seguimiento de Siniestro</h5>
                    <p class="card-text">Revisa el estado de tu siniestro estes donde estes.</p>
                    <a href="#" class="btn btn-success">Denunciar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <img class="card-img-top " src="~/Content/images/nuevosClientes.jpg" alt="Card image cap" height="200px" width="300px">
                <div class="card-body">
                    <h5 class="card-title">Nuevos clientes</h5>
                    <p class="card-text">Conoce mas sobre nuestros seguros.</p>
                    <a href="#" class="btn btn-success">Denunciar</a>
                </div>
            </div>
        </div>
    </div>
    
    
</div>
