﻿@model GestionSeguros.Classes.User
@{

    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.nombreSesion = ViewBag.session;
}



<div style="padding-top: 100px;">

    <h2>Vendedor</h2>

    <input type="hidden" id="idvendedor" value="@ViewBag.id" />
    <p>
        <a class="btn btn-primary" data-toggle="collapse" onclick="getVentas();" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Seguros</a>
    </p>
    <div class="row">
        <div class="col">
            <div class="collapse" id="multiCollapseExample1">
                <div class="card card-body">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Listar seguros Vendidos
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <table class="table table-condensed" id="segurostabla">
                                        <thead>
                                        <th>Id</th>
                                        <th>Rut Cliente</th>
                                        <th>Cliente</th>
                                        <th>Inicio</th>
                                        <th>Termino</th>
                                        <th>Auto</th>
                                        <th>Patente</th>
                                        <th>Accion</th>
                                        </thead>
                                        <tbody id="seguros"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="registraventa">
                                        Registrar Venta
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    <input type="hidden" id="idusuario" value="" />
                                    <table style="padding-top: 10px;">
                                        <tr>
                                            <td>Rut: </td>
                                            <td> <input type="text" class="input input-sm" id="rut2"></td>
                                        </tr>
                                        <tr>
                                            <td>Nombre: </td>
                                            <td><input type="text" class="input input-sm" id="nombre2"></td>
                                        </tr>
                                        <tr>
                                            <td>Apellido Paterno: </td>
                                            <td><input type="text" class="input input-sm" id="appat2"></td>
                                        </tr>
                                        <tr>
                                            <td>Apellido Materno: </td>
                                            <td><input type="text" class="input input-sm" id="apmat2"></td>
                                        </tr>
                                        <tr>
                                            <td>Email: </td>
                                            <td><input type="email" class="input input-sm" id="email2"></td>
                                        </tr>
                                        <tr>
                                            <td>Patente: </td>
                                            <td><input type="text" class="input input-sm" id="patente2"></td>
                                        </tr>
                                        <tr>
                                            <td>Marca: </td>
                                            <td><input type="text" class="input input-sm" id="marca2"></td>
                                        </tr>
                                        <tr>
                                            <td>Modelo: </td>
                                            <td><input type="text" class="input input-sm" id="modelo2"></td>
                                        </tr>
                                        <tr>
                                            <td>Año: </td>
                                            <td><input type="text" class="input input-sm" id="anio2"></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <button class="btn btn-primary" onclick="agregaVenta();" id="agrega">Agregar</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


@section JavaScript {
    <script src="@Url.Content("~/Scripts/vendedor.js")"></script>
}



