﻿@using GestionSeguros.Controllers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Seguros Segurisimos</title>
    <script src="https://kit.fontawesome.com/13f470fb4d.js" crossorigin="anonymous"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/Site.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg fixed-top">
        <a href="/Home/Index" class="navbar-brand"><img src="~/Content/images/logo.png" width="50px" height="50px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="/Home/About">Acerca De Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="/Home/Contact">Contacto</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

            <div >
                <a href="/Home/Login" style="text-decoration: none; color: white; padding-left: 10px;">
                    <i class="far fa-user"></i>
                    @ViewBag.nombreSesion 
                </a>
            </div>
        </div>
    </nav>


<div class="container body-content">
    @RenderBody()
    <hr/>


    <footer style="padding-top: 50%;">
        <div class="col-sm-3">
            Seguros Segurisimos
        </div>
    </footer>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
@RenderSection("JavaScript", required: false)
</body>
</html>
