@{
    ViewBag.Title = "Ingreso";
    ViewBag.session = "Ingresar";
}


<div class="col-sm-4 offset-4" style="padding-top: 100px;">
    <form class="form-signin" method="post" action="/Login/login">
        <h1 class="h3 mb-3 font-weight-normal">Por Favor Inicie Sesion</h1>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Correo Electronico" required autofocus>
        <div style="padding-top: 10px;">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" name="pass" class="form-control" placeholder="Contraseņa" required>
        </div>


        <div class="col-sm-6" style="padding-top: 20px;">
            <button class="btn btn-lg btn-primary btn-block" type="submit" style="align-content: center;" >Ingresar</button>
        </div>

    </form>
</div>


@section JavaScript {
    <script src="@Url.Content("~/Scripts/login.js")"></script>
}

